[Unit]
Description=FalconBroom FastAPI app
After=network.target

[Service]
User=fbuser
Group=www-data
WorkingDirectory=/srv/falconbroom
EnvironmentFile=/etc/falconbroom.env
# Activate venv and run uvicorn
ExecStart=/srv/falconbroom/.venv/bin/python -m uvicorn fbroom.main:app --host 127.0.0.1 --port 3009
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
